<div class="row pt-5">
    <div class="col-md-6">
        <div style="overflow:hidden;max-width:100%;width:500px;height:500px;">
            <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;"><iframe
                    style="height:100%;width:100%;border:0;" frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?q=datia+&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
            </div><a class="googl-ehtml" rel="nofollow" href="https://www.bootstrapskins.com/themes"
                id="authorize-map-data">premium bootstrap themes</a>
            <style>
                #embed-map-display img {
                    max-width: none !important;
                    background: none !important;
                    font-size: inherit;
                    font-weight: inherit;
                }
            </style>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Address1</h3>
        <h3>Address2</h3>
        <h4>Email</h4>
        <h5>anandgmail.com</h5>
        <h6>Cotact No.</h6>
        <h6>2321243144</h6>
        <p>Office</p>
        <p> Bhopal Madhya Pradesh</p>
    </div>
</div>