<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a >Buyer</a></li>
        <li class="breadcrumb-item"><a routerLink="/buyer-dashboard">proudcts</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-4 product" *ngFor="let product of all_products let i=index;">
        <div class="card mt-1 shadow">
            <img src="{{product.uploadphoto}}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p><span class="float-left"><strong>MRP</strong>: <del>{{product.mrp}}</del> </span> &nbsp; <span
                        class="float-left"><strong>DP</strong>: {{product.dp}}</span></p>
                <p class="cart-text product-desc">
                    {{product.desc}}
                </p>
                <button class="btn btn-primary float-start" (click)="addToCart()">Add To Cart</button>
                <button class="btn btn-warning float-end" (click)="buyProudct(product.id)">Buy Now</button>
            </div>
        </div>
    </div>
</div>